/* General layout */
main {
    background-image: url('../../media/background.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    background-color: rgba(248, 254, 255, 0.70);
    backdrop-filter: blur(20px);
    padding: 5px; 
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .left-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }
  
  .welcome-header {
    font-size: 10rem; 
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .info-text {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }
  
  .login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-input {
    width: 80%; 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-title {
    font-size: 2rem; 
    margin-bottom: 20px; 
    font-weight: bold; 
    margin-left: -90px;
  }
  
  button {
    width: 80%; 
    padding: 15px;
    background-color: #000000; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #292929; 
  }
  
  .register-text {
    margin-top: 20px;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
    margin-left: -90px;
  }
  
  
/* Media queries for responsive text size */
@media (max-width: 1400px) {
    .welcome-header {
      font-size: 15rem;
    }
  
    .some-info {
      font-size: 1.5rem; 
    }
  }
  
  
  @media (max-width: 1200px) {
    .welcome-header {
      font-size: 10rem; 
    }
  
    .some-info {
      font-size: 1.5rem; 
    }
  }
  
  @media (max-width: 992px) {
    .welcome-header {
      font-size: 8rem;
    }
  
    .some-info {
      font-size: 1.2rem; 
    }
  }
  
  @media (max-width: 768px) {
    .welcome-header {
      font-size: 5rem;
    }
  
    .some-info {
      font-size: 1rem; 
    }
  }
  
  @media (max-width: 576px) {
    .welcome-header {
      font-size: 3rem;
    }
  
    .some-info {
      font-size: 0.9rem; 
    }
  }
  